---
import Works from "./works.astro"
---

<section class="p-5text-black dark:text-white">
    <div class="w-full">
        <p class="text-xl text-start  border-b-2 border-purple-500">About</p>
    </div>
    <div class="my-5 w-full ">
        <h2 class="text-xl">Welcome to my web portfolio!, I am a passionate Front-End Web Developer, I am from Mexico. With 2 years of experience immersed in the world of web developmemt, where I heve discovered my passion for creating exceptional digital experiences. <br> I specialize in building responsive, user-friendly interface using tools like Astro and TailwindCSS <br> I love crafting clean, modern, and accessible designs that create meaningful experience for user <br> My goal is to continuously grow as a developer and contribute to projects that has a positive impact on peaple's lives. <br> When i'm not coding, I enjoy playing vidio games, reading, and exploring the last trend in web development.</h2>
        <Works/>
    </div>
</section>
