<section class="text-black dark:text-white">
    <div class="w-full border-b-2 border-violet-700 dark:border-purple-500">
        <p class="text-xl text-start ml-2">Skills</p>
    </div>
    <div class="flex flex-col lg:grid grid-cols-5">
        <div class="col-span-3">
            <div class="my-2 border-b-2 border-violet-700 dark:border-purple-500">
                <p class="text-start ml-2">Soft Skills</p>
            </div>
            <div class="flex flex-col gap-2 px-2">
                <p>
                    <span class="font-semibold">Self-discipline</span>: I have worked for 2 years self-taught to learn. Web development and I am committed to personal and professional development.
                </p>
                <p>
                    <span class="font-semibold"
                        >Organization and time management.</span
                    >: I plan my day with times to read, study and exercise, which demonstrates the ability to manage my priorities.
                </p>
                <p>
                    <span class="font-semibold"
                        >Resilience and adaptability</span
                    >: I am exploring new areas of development, with React and application creation, to adapt to market demands.
                </p>
                <p>
                    <span class="font-semibold"
                        >Critical thinking and problem solving.</span
                    >: I resolved technical issues in my projects and adapted my methods to overcome them (for example, adjusting TailwindCSS settings or improving Astro features).
                </p>
                <p>
                    <span class="font-semibold">Productivity</span>: I constantly seek to improve in various aspects, such as personal habits, continuous learning and technical skills.
                </p>
                <p>
                    <span class="font-semibold"
                        >Curiosity and desire to learn.</span
                    >: I show interest in exploring new technologies, genres.
                    musicals and literature, which reflects an open mind and willingness to acquire new knowledge.
                </p>
                <p>
                    <span class="font-semibold">Empathy and sociability</span>:
                    I have focused on getting out of my comfort zone, improving my social skills and building new friendships.
                </p>
            </div>
        </div>

        <div class="col-start-4 col-span-5">
            <div class="my-2 border-b-2 border-violet-700 dark:border-purple-500">
                <p class="text-start ml-2">
                    Hard Skills
                </p>
            </div>
            <div class="grid grid-cols-4 gap-5 items-center ">
                <div
                    class="  flex flex-col justify-center items-center py-2"
                >
                <svg fill="currentColor" enable-background="new 0 0 30 30" height="40" id="Layer_1" version="1.1" viewBox="0 0 30 30" width="40" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g><path d="M2.072,0l2.399,26.963L15.234,30l10.837-3.037L28.472,0H2.072z M23.259,8.795H10.622l0.281,3.393h12.074L22.04,22.389    l-6.73,1.855v0.02h-0.075l-6.787-1.875l-0.413-5.213h3.281l0.244,2.625l3.675,0.994l3.692-0.994l0.414-4.275H7.866L6.984,5.514    H23.56L23.259,8.795z"/></g></g></svg>
                        <p>HTML</p>
                </div>
                <div
                    class=" flex flex-col justify-center items-center py-2"
                >
                <svg fill="currentColor" height="40" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="40" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="_x31_21-css3"><g><g><g><g><path d="M47.575,16.379L85.6,447.023l170.751,47.852l170.686-47.822l38.092-430.674H47.575z        M47.575,16.379" fill="currentColor;"/></g><path d="M383.824,157.206l-4.801,54.098l-14.5,162.185l-108.172,29.994l-0.094,0.027l-108.119-30.021      l-7.541-84.817h52.968l3.938,43.992l58.785,15.908l0.029-0.027l58.875-15.912l8.023-73.3l-185.154,0.512l-5.251-50.125      l194.844-2.306l3.943-53.648l-204.005,0.572l-3.43-49.913h264.369L383.824,157.206z M383.824,157.206" class="dark:fill-[#171717] fill-[#d4d4d4]"/></g></g></g></g><g id="Layer_1"/></svg>
                    <p>CSS</p>
                </div>
                <div
                    class=" flex flex-col justify-center items-center py-2"
                >
                    <svg
                        fill="currentColor"
                        height="40"
                        viewBox="0 0 512 512"
                        width="40"
                        xmlns="http://www.w3.org/2000/svg"
                        ><title></title><path
                            d="M32,32V480H480V32ZM272,380c0,43.61-25.76,64.87-63.05,64.87-33.68,0-53.23-17.44-63.15-38.49h0l34.28-20.75c6.61,11.73,11.63,21.65,26.06,21.65,12,0,21.86-5.41,21.86-26.46V240h44Zm99.35,63.87c-39.09,0-64.35-17.64-76.68-42h0L329,382c9,14.74,20.75,24.56,41.5,24.56,17.44,0,27.57-7.72,27.57-19.75,0-14.43-10.43-19.54-29.68-28l-10.52-4.52c-30.38-12.92-50.52-29.16-50.52-63.45,0-31.57,24.05-54.63,61.64-54.63,26.77,0,46,8.32,59.85,32.68L396,290c-7.22-12.93-15-18-27.06-18-12.33,0-20.15,7.82-20.15,18,0,12.63,7.82,17.74,25.86,25.56l10.52,4.51c35.79,15.34,55.94,31,55.94,66.16C441.12,424.13,411.35,443.87,371.35,443.87Z"
                        ></path></svg
                    >
                    <p>JavaScript</p>
                </div>
                <div
                    class=" flex flex-col justify-center items-center py-2"
                >
                    <svg
                        width="40"
                        height="40"
                        viewBox="0 0 85 107"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M27.5894 91.1365C22.7555 86.7178 21.3444 77.4335 23.3583 70.7072C26.8503 74.948 31.6888 76.2914 36.7005 77.0497C44.4375 78.2199 52.0359 77.7822 59.2232 74.2459C60.0454 73.841 60.8052 73.3027 61.7036 72.7574C62.378 74.714 62.5535 76.6892 62.318 78.6996C61.7452 83.5957 59.3086 87.3778 55.4332 90.2448C53.8835 91.3916 52.2437 92.4167 50.6432 93.4979C45.7262 96.8213 44.3959 100.718 46.2435 106.386C46.2874 106.525 46.3267 106.663 46.426 107C43.9155 105.876 42.0817 104.24 40.6845 102.089C39.2087 99.8193 38.5066 97.3081 38.4696 94.5909C38.4511 93.2686 38.4511 91.9345 38.2733 90.6309C37.8391 87.4527 36.3471 86.0297 33.5364 85.9478C30.6518 85.8636 28.37 87.6469 27.7649 90.4554C27.7187 90.6707 27.6517 90.8837 27.5847 91.1341L27.5894 91.1365Z"
                            fill="currentColor"></path>
                        <path
                            d="M27.5894 91.1365C22.7555 86.7178 21.3444 77.4335 23.3583 70.7072C26.8503 74.948 31.6888 76.2914 36.7005 77.0497C44.4375 78.2199 52.0359 77.7822 59.2232 74.2459C60.0454 73.841 60.8052 73.3027 61.7036 72.7574C62.378 74.714 62.5535 76.6892 62.318 78.6996C61.7452 83.5957 59.3086 87.3778 55.4332 90.2448C53.8835 91.3916 52.2437 92.4167 50.6432 93.4979C45.7262 96.8213 44.3959 100.718 46.2435 106.386C46.2874 106.525 46.3267 106.663 46.426 107C43.9155 105.876 42.0817 104.24 40.6845 102.089C39.2087 99.8193 38.5066 97.3081 38.4696 94.5909C38.4511 93.2686 38.4511 91.9345 38.2733 90.6309C37.8391 87.4527 36.3471 86.0297 33.5364 85.9478C30.6518 85.8636 28.37 87.6469 27.7649 90.4554C27.7187 90.6707 27.6517 90.8837 27.5847 91.1341L27.5894 91.1365Z"
                            fill="currentColor"></path>
                        <path
                            d="M0 69.5866C0 69.5866 14.3139 62.6137 28.6678 62.6137L39.4901 29.1204C39.8953 27.5007 41.0783 26.3999 42.4139 26.3999C43.7495 26.3999 44.9325 27.5007 45.3377 29.1204L56.1601 62.6137C73.1601 62.6137 84.8278 69.5866 84.8278 69.5866C84.8278 69.5866 60.5145 3.35233 60.467 3.21944C59.7692 1.2612 58.5911 0 57.0029 0H27.8274C26.2392 0 25.1087 1.2612 24.3634 3.21944C24.3108 3.34983 0 69.5866 0 69.5866Z"
                            fill="currentColor"></path>
                        <defs>
                            <linearGradient
                                id="paint0_linear_1_59"
                                x1="22.4702"
                                y1="107"
                                x2="69.1451"
                                y2="84.9468"
                                gradientUnits="userSpaceOnUse"
                            >
                                <stop stop-color="currentcolor"></stop>
                                <stop offset="1" stop-color="currentcolor"></stop>
                            </linearGradient>
                        </defs>
                    </svg>
                    <p>Astro</p>
                </div>
                <div
                    class=" flex flex-col justify-center items-center py-2"
                >
                    <svg
                        fill="currentColor"
                        height="40"
                        viewBox="0 0 24 24"
                        width="40"
                        xmlns="http://www.w3.org/2000/svg"
                        ><path
                            d="M18.5 9.51a4.22 4.22 0 0 1-1.91-1.34A5.77 5.77 0 0 0 12 6a4.72 4.72 0 0 0-5 4 3.23 3.23 0 0 1 3.5-1.49 4.32 4.32 0 0 1 1.91 1.35A5.77 5.77 0 0 0 17 12a4.72 4.72 0 0 0 5-4 3.2 3.2 0 0 1-3.5 1.51zm-13 4.98a4.22 4.22 0 0 1 1.91 1.34A5.77 5.77 0 0 0 12 18a4.72 4.72 0 0 0 5-4 3.23 3.23 0 0 1-3.5 1.49 4.32 4.32 0 0 1-1.91-1.35A5.8 5.8 0 0 0 7 12a4.72 4.72 0 0 0-5 4 3.2 3.2 0 0 1 3.5-1.51z"
                        ></path></svg
                    >
                    <p>TailwindCSS</p>
                </div>
                <div
                    class=" flex flex-col justify-center items-center py-2"
                >
                    <svg
                        fill="currentColor"
                        width="40"
                        height="40"
                        role="img"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        ><title></title><path
                            d="M12 9.861A2.139 2.139 0 1 0 12 14.139 2.139 2.139 0 1 0 12 9.861zM6.008 16.255l-.472-.12C2.018 15.246 0 13.737 0 11.996s2.018-3.25 5.536-4.139l.472-.119.133.468a23.53 23.53 0 0 0 1.363 3.578l.101.213-.101.213a23.307 23.307 0 0 0-1.363 3.578l-.133.467zM5.317 8.95c-2.674.751-4.315 1.9-4.315 3.046 0 1.145 1.641 2.294 4.315 3.046a24.95 24.95 0 0 1 1.182-3.046A24.752 24.752 0 0 1 5.317 8.95zM17.992 16.255l-.133-.469a23.357 23.357 0 0 0-1.364-3.577l-.101-.213.101-.213a23.42 23.42 0 0 0 1.364-3.578l.133-.468.473.119c3.517.889 5.535 2.398 5.535 4.14s-2.018 3.25-5.535 4.139l-.473.12zm-.491-4.259c.48 1.039.877 2.06 1.182 3.046 2.675-.752 4.315-1.901 4.315-3.046 0-1.146-1.641-2.294-4.315-3.046a24.788 24.788 0 0 1-1.182 3.046zM5.31 8.945l-.133-.467C4.188 4.992 4.488 2.494 6 1.622c1.483-.856 3.864.155 6.359 2.716l.34.349-.34.349a23.552 23.552 0 0 0-2.422 2.967l-.135.193-.235.02a23.657 23.657 0 0 0-3.785.61l-.472.119zm1.896-6.63c-.268 0-.505.058-.705.173-.994.573-1.17 2.565-.485 5.253a25.122 25.122 0 0 1 3.233-.501 24.847 24.847 0 0 1 2.052-2.544c-1.56-1.519-3.037-2.381-4.095-2.381zM16.795 22.677c-.001 0-.001 0 0 0-1.425 0-3.255-1.073-5.154-3.023l-.34-.349.34-.349a23.53 23.53 0 0 0 2.421-2.968l.135-.193.234-.02a23.63 23.63 0 0 0 3.787-.609l.472-.119.134.468c.987 3.484.688 5.983-.824 6.854a2.38 2.38 0 0 1-1.205.308zm-4.096-3.381c1.56 1.519 3.037 2.381 4.095 2.381h.001c.267 0 .505-.058.704-.173.994-.573 1.171-2.566.485-5.254a25.02 25.02 0 0 1-3.234.501 24.674 24.674 0 0 1-2.051 2.545zM18.69 8.945l-.472-.119a23.479 23.479 0 0 0-3.787-.61l-.234-.02-.135-.193a23.414 23.414 0 0 0-2.421-2.967l-.34-.349.34-.349C14.135 1.778 16.515.767 18 1.622c1.512.872 1.812 3.37.824 6.855l-.134.468zM14.75 7.24c1.142.104 2.227.273 3.234.501.686-2.688.509-4.68-.485-5.253-.988-.571-2.845.304-4.8 2.208A24.849 24.849 0 0 1 14.75 7.24zM7.206 22.677A2.38 2.38 0 0 1 6 22.369c-1.512-.871-1.812-3.369-.823-6.854l.132-.468.472.119c1.155.291 2.429.496 3.785.609l.235.02.134.193a23.596 23.596 0 0 0 2.422 2.968l.34.349-.34.349c-1.898 1.95-3.728 3.023-5.151 3.023zm-1.19-6.427c-.686 2.688-.509 4.681.485 5.254.987.563 2.843-.305 4.8-2.208a24.998 24.998 0 0 1-2.052-2.545 24.976 24.976 0 0 1-3.233-.501zM12 16.878c-.823 0-1.669-.036-2.516-.106l-.235-.02-.135-.193a30.388 30.388 0 0 1-1.35-2.122 30.354 30.354 0 0 1-1.166-2.228l-.1-.213.1-.213a30.3 30.3 0 0 1 1.166-2.228c.414-.716.869-1.43 1.35-2.122l.135-.193.235-.02a29.785 29.785 0 0 1 5.033 0l.234.02.134.193a30.006 30.006 0 0 1 2.517 4.35l.101.213-.101.213a29.6 29.6 0 0 1-2.517 4.35l-.134.193-.234.02c-.847.07-1.694.106-2.517.106zm-2.197-1.084c1.48.111 2.914.111 4.395 0a29.006 29.006 0 0 0 2.196-3.798 28.585 28.585 0 0 0-2.197-3.798 29.031 29.031 0 0 0-4.394 0 28.477 28.477 0 0 0-2.197 3.798 29.114 29.114 0 0 0 2.197 3.798z"
                        ></path></svg
                    >
                    <p>React</p>
                </div>
                <div
                    class=" flex flex-col justify-center items-center py-2"
                >
                    <svg
                        class="bi bi-github"
                        fill="currentColor"
                        height="40"
                        viewBox="0 0 16 16"
                        width="40"
                        xmlns="http://www.w3.org/2000/svg"
                        ><path
                            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                        ></path></svg
                    >
                    <p>Github</p>
                </div>
                <div
                    class=" flex flex-col justify-center items-center py-2"
                >
                    <svg
                        class="bi bi-git"
                        fill="currentColor"
                        height="40"
                        viewBox="0 0 16 16"
                        width="40"
                        xmlns="http://www.w3.org/2000/svg"
                        ><path
                            d="M15.698 7.287 8.712.302a1.03 1.03 0 0 0-1.457 0l-1.45 1.45 1.84 1.84a1.223 1.223 0 0 1 1.55 1.56l1.773 1.774a1.224 1.224 0 0 1 1.267 2.025 1.226 1.226 0 0 1-2.002-1.334L8.58 5.963v4.353a1.226 1.226 0 1 1-1.008-.036V5.887a1.226 1.226 0 0 1-.666-1.608L5.093 2.465l-4.79 4.79a1.03 1.03 0 0 0 0 1.457l6.986 6.986a1.03 1.03 0 0 0 1.457 0l6.953-6.953a1.031 1.031 0 0 0 0-1.457"
                        ></path></svg
                    >
                    <p>Git</p>
                </div>
            </div>
        </div>

        <div class="flex pt-2 col-span-5 ">
            <div class="w-full">
                <div>
                    <p class="text-center border-b-2 border-violet-700 dark:border-purple-500">
                        Education
                    </p>
                </div>
                <div class="flex justify-center">
                    <ul class="flex gap-5">
                        <li>FreeCodeCamp</li>
                        <li>Sololearn</li>
                    </ul>
                </div>
            </div>
            <div class="w-full">
                <div class="">
                    <p class="text-center w-full border-b-2 border-violet-700 dark:border-purple-500">
                        Language
                    </p>
                </div>
                <div class="flex justify-center">
                    <ul class="flex gap-5">
                        <li>Spanish</li>
                        <li>Ingles</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
