---
import Layout from "../../layouts/Layout.astro";
import Images from "../../components/images.astro";
import ImageTools from "../../images/Tools.webp";
import ToolsM from "../../images/ToolsM.webp";
import ToolsD from "../../images/ToolsD.webp";
---

<Layout>
    <main class="flex flex-col items-center gap-10 py-5">
        <div class="w-full fixed flex justify-end px-5">
            <a href="/" class="" title="Exit">
                <!--?xml version="1.0" ?-->
                <svg
                    fill="none"
                    height="24"
                    viewBox="0 0 24 24"
                    width="24"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                        d="M15 3H7C5.89543 3 5 3.89543 5 5V19C5 20.1046 5.89543 21 7 21H15"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"></path><path
                        d="M19 12L15 8M19 12L15 16M19 12H9"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"></path></svg
                >
            </a>
        </div>
        <div>
            <h2 class="text-center text-2xl font-semibold">Tools</h2>
        </div>
        <div class="px-3">
            <a
                href="https://tools-kappa-henna.vercel.app/"
                title="Tools"
                target="_blank"
            >
                <Images
                    ImgUrl={ImageTools}
                    alt="image page the Tools"
                    addClass="rounded-md shadow-lg  dark:shadow-black/50 "
                />
            </a>
        </div>
        <div class="max-w-[700px] mx-3">
            <p>
                Tools is a website for developers and designers. Here you can find a variety of tools to help you with your projects,
                such as color palettes, image optimization, and more. The site is designed to be easy to use and navigate,
                so you can quickly find the tools you need. Whether you're a beginner or an experienced developer,
                Tools has something for everyone. The site is constantly updated with new tools and features, so be sure to visit frequently. 
                With Tools, you can streamline your workflow and improve your productivity. The site is also optimized for mobile devices, so you can access it wherever you are.
            </p>
        </div>

        <div class="w-full flex justify-center">
            <a
                href="https://github.com/wuerion/Tools-React"
                target="_blank"
                title="visit github"
                class="text-base rounded-full px-5 p-2.5 mx-2 text-black font-semibold text-center bg-violet-400 dark:bg-purple-400 shadow-md shadow-violet-400 dark:shadow-black/50"
                >Visit github</a
            >
            <a
                href="https://tools-kappa-henna.vercel.app/"
                target="_blank"
                title="visit page"
                class="text-base rounded-full px-5 p-2.5 mx-2 text-black font-semibold text-center bg-violet-400 dark:bg-purple-400 shadow-md shadow-violet-400 dark:shadow-black/50"
                >Visit page</a
            >
        </div>

        <div class="flex flex-col gap-5 max-w-[700px] mx-3">
            <h2>
                Page Speed Insghts: It is a Google tool that analyzes the
                performance of web pages and provides recommendations to improve
                it.
            </h2>
            <div>
                <p class="my-2">This data us taken from mobile devices</p>
                <Images
                    ImgUrl={ToolsM}
                    alt="image the Page Speed Insghts the Tools mobile"
                    addClass="rounded-md"
                />
            </div>

            <div>
                <ul class="px-3.5">
                    <li class="list-disc">
                        Performace (91): This value indicate that the website performs well on desktop devices.
                    </li>
                    <li class="list-disc">
                        Accessibility (100): This value indicates that the
                        website meets accessibility standards, meaning it is
                        easy ti use for people whit disabilities.
                    </li>
                    <li class="list-disc">
                        Recommendations (100): This value indicate that the
                        website follows web development best practices.
                    </li>
                    <li class="list-disc">
                        SEO (90): This value indicate that the website is well
                        optimized for search engines.
                    </li>
                </ul>
            </div>

            <div>
                <p class="my-2">This data us taken from desktop devices</p>
                <Images
                    ImgUrl={ToolsD}
                    alt="Image the Page Speed Insghts the Tools Desktop"
                    addClass="rounded-md"
                />
            </div>
            <div>
                <ul class="px-3.5">
                    <li class="list-disc">
                        Performace (100): This value indicates that the website performs better on desktop devices.
                    </li>
                    <li class="list-disc">
                        Accessibility (100): this value indicate that the websaite
                        meets accessibility standards, meaning it is easy it use
                        for people whit disabilities.
                    </li>
                    <li class="list-disc">
                        Recommendations (100): This value indicate that the
                        website follows web development best practices.
                    </li>
                    <li class="list-disc">
                        SEO (90): This value indicate that the website is well
                        optimixed for seaech engines.
                    </li>
                </ul>
            </div>
        </div>
    </main>
</Layout>