---
import '@fontsource/syne';
const { addClass } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.avif" />
		<meta name="generator" content={Astro.generator} />
		<title>My portafolio</title>
		<meta name="description" content="Cada proyecto en mi portafolio cuenta una historia de dedicación y amor por el desarrollo web. Te invito a conocer mi trabajo y a descubrir la magia de la tecnología">
	</head>
	<body
		class=` ${addClass} bg-[#D4D4D4] dark:bg-[#171717] text-black dark:text-white lg:h-svh lg:w-svh font-syne`
	>
		<slot />
	</body>
</html>
